<ion-view view-title="#{{pokemon.id|leadingZero:3}} {{pokemon.identifier}} Moves">
  <ion-content scroll="false" id="pokemonMoveCtrl">

    <md-tabs md-swipe-content md-no-pagination md-selected="0">
      <md-tab label="Level Up">
        <md-content class="md-padding">
          <table id="movesLv">
            <thead>
              <tr>
                <th class="lv">Lv.</th>
                <th class="move">Move</th>
                <th class="type">Type</th>
                <th class="class">Class</th>
                <th class="power">Power</th>
                <th class="acc">Acc.</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="move in pokemon.getMovesLv() track by $index">
                <td class="lv">{{move.getLevel()}}</td>
                <td class="move">{{move.identifier}}</td>
                <td class="type"><pokemon-type type="move.getType()"></pokemon-type></td>
            <td class="class"><move-damage-class damage-class="move.getDamageClass()"></move-damage-class></td>
            <td class="power">{{move.power}}</td>
            <td class="acc">{{move.accuracy}}%</td>
            </tr>
            </tbody>
          </table>
        </md-content>
      </md-tab>
      <md-tab label="Egg">
        <md-content class="md-padding">
          <table id="movesEgg">
            <thead>
              <tr>
                <th class="move">Move</th>
                <th class="type">Type</th>
                <th class="class">Class</th>
                <th class="power">Power</th>
                <th class="acc">Acc.</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="move in pokemon.getMovesLv() track by $index">
                <td class="move">{{move.identifier}}</td>
                <td class="type"><pokemon-type type="move.getType()"></pokemon-type></td>
            <td class="class"><move-damage-class damage-class="move.getDamageClass()"></move-damage-class></td>
            <td class="power">{{move.power}}</td>
            <td class="acc">{{move.accuracy}}%</td>
            </tr>
            </tbody>
          </table>
        </md-content>
      </md-tab>
      <md-tab label="TM/HM">
        <md-content class="md-padding">
          <table id="movesItem">
            <thead>
              <tr>
                <th class="tmhm">Item</th>
                <th class="move">Move</th>
                <th class="type">Type</th>
                <th class="class">Class</th>
                <th class="power">Power</th>
                <th class="acc">Acc.</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="move in pokemon.getMovesLv() track by $index">
                <td class="tmhm">TM 01</td>
                <td class="move">{{move.identifier}}</td>
                <td class="type"><pokemon-type type="move.getType()"></pokemon-type></td>
            <td class="class"><move-damage-class damage-class="move.getDamageClass()"></move-damage-class></td>
            <td class="power">{{move.power}}</td>
            <td class="acc">{{move.accuracy}}%</td>
            </tr>
            </tbody>
          </table>
        </md-content>
      </md-tab>
      <md-tab label="Tutor">
        <md-content class="md-padding">
          <table id="movesTutor">
            <thead>
              <tr>
                <th class="move">Move</th>
                <th class="type">Type</th>
                <th class="class">Class</th>
                <th class="power">Power</th>
                <th class="acc">Acc.</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="move in pokemon.getMovesLv() track by $index">
                <td class="move">{{move.identifier}}</td>
                <td class="type"><pokemon-type type="move.getType()"></pokemon-type></td>
            <td class="class"><move-damage-class damage-class="move.getDamageClass()"></move-damage-class></td>
            <td class="power">{{move.power}}</td>
            <td class="acc">{{move.accuracy}}%</td>
            </tr>
            </tbody>
          </table>
        </md-content>
      </md-tab>
    </md-tabs>

  </ion-content>
</ion-view>
