<ion-view view-title="Pokemon detail">
  <ion-content id="pokemonCtrl" class="container">
    <div id="figure">
      <img ng-src="img/poke/{{pokemon.getId() | leadingZero:3}}.png">
    </div>

    <h2 id="name">
      #{{pokemon.getId() | leadingZero:3}} {{pokemon.getIdentifier()}}
    </h2>

    <div id="types">
      <ul class="pktipos">
        <li ng-repeat="type in pokemon.getTypes() track by $index">
        <pokemon-type type="type"></pokemon-type>
        </li>
      </ul>
    </div>

    <!-- <p id="texto">Golem live up on mountains. If there is a large earthquake, these Pokémon will come rolling down off the mountains en masse to the foothills below.</p> -->

    <div id="baseStats">
      <h4>Base stats</h4>

      <table>
        <tr ng-repeat="stat in ['hp', 'attack', 'defense', 'spcAttack', 'spcDefense', 'speed']">
          <td class="stat" ng-init="stat = pokemon.getBaseStats().getStat(stat)">{{stat.getIdentifier()}}</td>
          <td class="value">{{stat.getBase()}}</td>
          <td class="graph"><md-progress-linear md-mode="determinate" value="{{stat.getBase100Max()}}"></md-progress-linear></td>
        <td class="minmax">{{stat.getMinStat()}} ~ {{stat.getMaxStat()}}</td>
        </tr>
      </table>

      <p>The ranges shown on the right are for a level 100 Pokémon. Maximum values are based on a beneficial nature, 252 EVs, 31 IVs; minimum values are based on a hindering nature, 0 EVs, 0 IVs.</p>
    </div>

    <div id="weaknesses">
      <h4>Damage taken</h4>

      <ion-scroll zooming="false" direction="x">
        <table>
          <thead>
            <tr>
              <td ng-repeat="type in efficaciesInDefense"><pokemon-type abbr="1" type="type.type"></pokemon-type></td>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td ng-repeat="type in efficaciesInDefense">{{type.damage_factor}}</td>
            </tr>
          </tbody>
        </table>
      </ion-scroll>

    </div>

    <div id="evolutions">
      <h4>Evolutions</h4>

      <md-list layout-padding>
        <md-list-item ng-repeat="evolution in pokemon.getEvolutions() track by $index" class="pokemon" ng-class="{selected: (evolution.getPokemon().getId() == pokemon.getId())}" ng-click="verPokemon(evolution.getPokemon())">
            <div class="img"><img ng-src="img/poke-min/{{evolution.getPokemon().getId()}}.png"></div>
            <p>
              <strong>{{evolution.getPokemon().getIdentifier()}}</strong>
            </p>
        </md-list-item>
      </md-list>

    </div>

    <!--<div id="locations">
      <h4>Locations</h4>
      Damage taken here
    </div>-->

    <div id="moves">
      <h4>Moves</h4>
      <button class="button button-block button-positive" ng-click="viewMoves(pokemon.getId())">
        <i class="icon ion-nuclear"></i> Moves
      </button>
    </div>

    </ion-list>
  </ion-content>
</ion-view>
