<ion-view view-title="#{{pokemon.getId() | leadingZero:3}} {{pokemon.getIdentifier()}}">
  <ion-content id="pokemonCtrl">

    <md-tabs md-stretch-tabs="never" md-dynamic-height md-selected="selectedIndex">

      <md-tab label="Basic">
        <md-content class="container" md-swipe-left="onSwipeLeft()" md-swipe-right="onSwipeRight()" ng-controller="PokemonTabBasicCtrl">
          <div id="figure">
            <img ng-src="img/poke/{{pokemon.getId() | leadingZero:3}}.png">
          </div>

          <!--<h2 id="name">
            #{{pokemon.getId() | leadingZero:3}} {{pokemon.getIdentifier()}}
          </h2>-->
          
          <h4>Abilities</h4>
          
          <ul>
            <li ng-repeat="abilitie in pokemon.getAbilities()"><strong>{{abilitie.getIdentifier()}}</strong>: {{abilitie.getDescription()}}</li>
          </ul>
          
          <h4>Description</h4>
          
          <p>{{pokemon.getDescription()}}</p>
          
        </md-content>
      </md-tab>

      <md-tab label="Type">
        <md-content id="pokemonTabTypeCtrl" class="container" md-swipe-left="onSwipeLeft()" md-swipe-right="onSwipeRight()" ng-controller="PokemonTabTypeCtrl">
          
          <h4>Pokemon type</h4>

          <ul class="pktipos">
            <li ng-repeat="type in pokemon.getTypes() track by $index">
            <pokemon-type type="type"></pokemon-type>
            </li>
          </ul>

          <h4>Weaknesses</h4>
          
          <ul class="pktipos">
            <li ng-repeat="type in efficaciesInDefense">
            <pokemon-type type="type.type"></pokemon-type>
            {{type.damage_factor}}x
            </li>
          </ul>

        </md-content>
      </md-tab>

      <md-tab label="Stats">
        <md-content id="pokemonTabStatCtrl" class="container" md-swipe-left="onSwipeLeft()" md-swipe-right="onSwipeRight()" ng-controller="PokemonTabStatCtrl">
          <h4>Base stats</h4>

          <table>
            <tr ng-repeat="stat in ['hp', 'attack', 'defense', 'spcAttack', 'spcDefense', 'speed']">
              <td class="stat" ng-init="stat = pokemon.getBaseStats().getStat(stat)">{{stat.getIdentifier()}}</td>
              <td class="value">{{stat.getBase()}}</td>
              <td class="graph"><md-progress-linear md-mode="determinate" value="{{stat.getBase100Max()}}"></md-progress-linear></td>
            <td class="minmax">{{stat.getMinStat()}} ~ {{stat.getMaxStat()}}</td>
            </tr>
          </table>

          <p>The ranges shown on the right are for a level 100 Pokémon. Maximum values are based on a beneficial nature, 252 EVs, 31 IVs; minimum values are based on a hindering nature, 0 EVs, 0 IVs.</p>
        </md-content>
      </md-tab>

      <md-tab label="Evo">
        <md-content class="container" md-swipe-left="onSwipeLeft()" md-swipe-right="onSwipeRight()" ng-controller="PokemonTabEvolutionCtrl">

          <md-list layout-padding>
            <md-list-item ng-repeat="evolution in pokemon.getEvolutions() track by $index" class="pokemon" ng-class="{selected: (evolution.getPokemon().getId() == pokemon.getId())}" ng-click="verPokemon(evolution.getPokemon())">
              <div class="img"><img ng-src="img/poke-min/{{evolution.getPokemon().getId()}}.png"></div>
              <p>
                <strong>{{evolution.getPokemon().getIdentifier()}}</strong>
              </p>
            </md-list-item>
          </md-list>

        </md-content>
      </md-tab>

      <md-tab label="Moves">
        <md-content id="pokemonTabMoveCtrl" class="container" md-swipe-left="onSwipeLeft()" md-swipe-right="onSwipeRight()" ng-controller="PokemonTabMoveCtrl">

          <table id="movesLv">
            <thead>
              <tr>
                <th class="lv">Lv.</th>
                <th class="move">Move</th>
                <th class="type">Type</th>
                <th class="class">Class</th>
                <th class="power">Power</th>
                <th class="acc">Acc.</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="move in pokemon.getMovesLv() track by $index">
                <td class="lv">{{move.getLevel()}}</td>
                <td class="move">{{move.identifier}}</td>
                <td class="type"><pokemon-type type="move.getType()"></pokemon-type></td>
            <td class="class"><move-damage-class damage-class="move.getDamageClass()"></move-damage-class></td>
            <td class="power">{{move.power}}</td>
            <td class="acc">{{move.accuracy}}%</td>
            </tr>

            <tr ng-repeat="move in pokemon.getMovesLv() track by $index">
              <td class="lv">TM00</td>
              <td class="move">{{move.identifier}}</td>
              <td class="type"><pokemon-type type="move.getType()"></pokemon-type></td>
            <td class="class"><move-damage-class damage-class="move.getDamageClass()"></move-damage-class></td>
            <td class="power">{{move.power}}</td>
            <td class="acc">{{move.accuracy}}%</td>
            </tr>

            <tr ng-repeat="move in pokemon.getMovesLv() track by $index">
              <td class="lv">egg</td>
              <td class="move">{{move.identifier}}</td>
              <td class="type"><pokemon-type type="move.getType()"></pokemon-type></td>
            <td class="class"><move-damage-class damage-class="move.getDamageClass()"></move-damage-class></td>
            <td class="power">{{move.power}}</td>
            <td class="acc">{{move.accuracy}}%</td>
            </tr>

            <tr ng-repeat="move in pokemon.getMovesLv() track by $index">
              <td class="lv">tutor</td>
              <td class="move">{{move.identifier}}</td>
              <td class="type"><pokemon-type type="move.getType()"></pokemon-type></td>
            <td class="class"><move-damage-class damage-class="move.getDamageClass()"></move-damage-class></td>
            <td class="power">{{move.power}}</td>
            <td class="acc">{{move.accuracy}}%</td>
            </tr>

            </tbody>
          </table>

        </md-content>
      </md-tab>

      <!--<md-tab label="Training">
        <md-content class="container" md-swipe-left="onSwipeLeft()" md-swipe-right="onSwipeRight()">

        </md-content>
      </md-tab>-->

      <!--<md-tab label="Catch">
        <md-content class="container" md-swipe-left="onSwipeLeft()" md-swipe-right="onSwipeRight()">

        </md-content>
      </md-tab>-->

    </md-tabs>

  </ion-content>
</ion-view>
