<ion-view view-title="Type: {{type.getIdentifier() | capitalize:'first'}}">
  <ion-content id="typeCtrl" class="padding">

    <div id="weaknesses">
      <h4>Weaknesses</h4>

      <ul class="pktipos">
        <li ng-repeat="weakness in type.getWeaknesses() track by $index">
        <pokemon-type type="weakness"></pokemon-type>
        </li>
      </ul>

    </div>

    <div id="resistances">
      <h4>Resistances</h4>

      <p class="pktipos" ng-show="!type.getResistances().length">No Resistances</p>
      <ul class="pktipos" ng-show="type.getResistances().length">
        <li ng-repeat="resistances in type.getResistances() track by $index">
        <pokemon-type type="resistances"></pokemon-type>
        </li>
      </ul>
    </div>

    <div id="immunities">
      <h4>Immunities</h4>

      <p class="pktipos" ng-show="!type.getImmunities().length">No Immunities</p>
      <ul class="pktipos" ng-show="type.getImmunities().length">
        <li ng-repeat="immunities in type.getImmunities() track by $index">
        <pokemon-type type="immunities"></pokemon-type>
        </li>
      </ul>
    </div>
    
    <div id="pokemons">
      <h4>Pokemons</h4>
      <button class="button button-block button-positive" ng-click="viewPokemons()">
        <i class="icon ion-ios-paw"></i> Pokemons
      </button>
    </div>
    
    <div id="moves">
      <h4>Moves</h4>
      <button class="button button-block button-positive" ng-click="viewMoves()">
        <i class="icon ion-nuclear"></i> Moves
      </button>
    </div>

  </ion-content>
</ion-view>
