.pokemon {
    height: 66px;
    position: relative;
}
.pokemon.selected {
    background-color: #FFFFAA;
    border: 1px solid #FFFF66;
}
.pokemon a {
    text-decoration: none;
}
.pokemon p {
    font-size: 1rem;
    padding: 0 0 0 66px;
}
.pokemon p strong {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 0.2em;
}
.pokemon .img {
    background-color: #FFF;
    border: 2px solid #CCCCCC;
    border-radius: 50%;
    height: 56px;
    left: 5px;
    overflow: hidden;
    position: absolute;
    top: 5px;
    width: 56px;
}
.pokemon img {
    height: 66px;
    margin: -5px 0 0 -5px;
    width: 66px;
}

#movesCtrl .item {
    position: relative;
}
#movesCtrl .move {
    position: absolute;
    right: 56px;
    top: 16px;
    width: 65px;
}
#movesCtrl .damageClass {
    position: absolute;
    right: 10px;
    top: 19px;
    width: 41px;
}

#pokemonCtrl #figure {
    margin: 10px 0;
    text-align: center;
}
#pokemonCtrl #figure img {
    max-height: 30vh;
    max-width: 70%;
}
#pokemonCtrl .pktipos {
    overflow: hidden;
    width: 100%;
}
#pokemonCtrl .pktipos>li {
    float: left;
    margin: 0.5vh 1.33% 0.5vh 0;
    width: 32%;
}
#pokemonCtrl #baseStats table {
    table-layout: fixed;
    width: 100%;
}
#pokemonCtrl #baseStats td {
    font-size: 0.8rem;
}
#pokemonCtrl #baseStats table .stat {
    font-weight: bold;
    width: 55px;
}
#pokemonCtrl #baseStats table .value {
    width: 27px;
}
#pokemonCtrl #baseStats table .graph {
    padding: 0 3px;
}
#pokemonCtrl #baseStats table .graph md-progress-linear {
    margin-bottom: 6px;
}
#pokemonCtrl #baseStats table .minmax {
    white-space:nowrap;
    width: 60px;
}
#pokemonCtrl #baseStats p {
    font-size: 0.8em;
}
#pokemonCtrl #weaknesses table {
    border: 1px solid #CCCCCC;
}
#pokemonCtrl #weaknesses td {
    border: 1px solid #CCCCCC;
    padding: 2px;
    text-align: center;
}
#pokemonCtrl #evolutions md-list {
    padding: 0;
}
#pokemonCtrl #evolutions md-list-item {
    padding: 0;
}

#pokemonMoveCtrl md-tabs {
    height: 100%;
}
#pokemonMoveCtrl table {
    table-layout: fixed;
    width: 100%;
}
#pokemonMoveCtrl table td,
#pokemonMoveCtrl table th {
    font-size: 0.9rem;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
}
#pokemonMoveCtrl table th {
    font-weight: bold;
    font-size: 0.8rem;
}
#pokemonMoveCtrl table .lv {
    width: 11%;
}
#pokemonMoveCtrl table .move {
    padding: 5px 0 5px 3px;
}
#pokemonMoveCtrl table .type {
    text-align: center;
    width: 55px;
}
#pokemonMoveCtrl table .class {
    line-height: 0;
    position: relative;
    text-align: center;
    width: 50px;
}
#pokemonMoveCtrl table .class a {
    left: 2px;
    position: absolute;
    top: 5px;
}
#pokemonMoveCtrl table .power {
    width: 14%;
}
#pokemonMoveCtrl table .acc {
    max-width: 40px;
    width: 10%;
}
#pokemonMoveCtrl .pktipo {
    font-size: 0.8rem;
}

#typeCtrl .pktipos {
    overflow: hidden;
}
#typeCtrl .pktipos li {
    float: left;
    margin: 0 0 1vmin 0;
    width: 32%;
}
#typeCtrl .pktipos li:nth-child(3n+2) {
    margin-left: 1%;
    margin-right: 1%;
}