#movesCtrl .item {
    position: relative;
}
#movesCtrl .move {
    position: absolute;
    right: 56px;
    top: 16px;
    width: 65px;
}
#movesCtrl .damageClass {
    position: absolute;
    right: 10px;
    top: 19px;
    width: 41px;
}

#pokemonsCtrl .item {
    height: 96px;
    position: relative;
}
#pokemonsCtrl .item p {
    font-size: 1.2rem;
    padding: 12px 0 0 110px;
}
#pokemonsCtrl .item p strong {
    display: block;
    font-size: 2rem;
    margin-bottom: 0.2em;
}
#pokemonsCtrl .item img {
    left: 10px;
    position: absolute;
    top: 0;
}

#pokemonCtrl #figure {
    margin: 10px 0;
    text-align: center;
}
#pokemonCtrl #figure img {
    border: 2px solid #CCCCCC;
    border-radius: 50%;
    max-height: 30vh;
    max-width: 70%;
    overflow: hidden;
}
#pokemonCtrl .pktipos {
    overflow: hidden;
    width: 100%;
}
#pokemonCtrl .pktipos>li {
    float: left;
    margin: 0.5vh 1.33% 0.5vh 0;
    width: 32%;
}
#pokemonCtrl #baseStats table {
    table-layout: fixed;
    width: 100%;
}
#pokemonCtrl #baseStats td {
    font-size: 0.8rem;
}
#pokemonCtrl #baseStats table .stat {
    font-weight: bold;
    width: 55px;
}
#pokemonCtrl #baseStats table .value {
    width: 27px;
}
#pokemonCtrl #baseStats table .graph {
    padding: 0 3px;
}
#pokemonCtrl #baseStats table .graph md-progress-linear {
    margin-bottom: 6px;
}
#pokemonCtrl #baseStats table .minmax {
    white-space:nowrap;
    width: 60px;
}
#pokemonCtrl #weaknesses table {
    border: 1px solid #CCCCCC;
}
#pokemonCtrl #weaknesses td {
    border: 1px solid #CCCCCC;
    padding: 2px;
    text-align: center;
}

#pokemonMoveCtrl md-tabs {
    height: 100%;
}
#pokemonMoveCtrl table {
    table-layout: fixed;
    width: 100%;
}
#pokemonMoveCtrl table td,
#pokemonMoveCtrl table th {
    font-size: 1rem;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
}
#pokemonMoveCtrl table th {
    font-weight: bold;
}
#pokemonMoveCtrl table .lv {
    width: 7%;
}
#pokemonMoveCtrl table .move {
    padding: 5px 0 5px 3px;
}
#pokemonMoveCtrl table .type {
    text-align: center;
    width: 70px;
}
#pokemonMoveCtrl table .class {
    line-height: 0;
    position: relative;
    text-align: center;
    width: 50px;
}
#pokemonMoveCtrl table .class a {
    left: 2px;
    position: absolute;
    top: 5px;
}
#pokemonMoveCtrl table .power {
    width: 14%;
}
#pokemonMoveCtrl table .acc {
    max-width: 40px;
    width: 10%;
}
