.pktipos {
    display: table;
    width: 100%;
}
.pktipos>li {
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5vh 1.33% 0.5vh 0;
    width: 32%;
}

.pktipo {
    border: 1px solid #aaa;
    border-radius: 2px;
    color: #FFF;
    font-family: Lato, Ubuntu, 'Trebuchet MS', Helvetica, Arial, FreeSans, sans-serif;
    font-size: 1rem;
    display: inline-block;
    line-height: 1;
    padding: 3px 5px;
    text-align: center;
    text-shadow: 1px 1px 1px #333333;
    width: 100%;
}

.pktipo-7 {
    background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    color: #fff
}
.pktipo-17 {
    background: linear-gradient(180deg, #707070 50%, #707070 50%);
    color: #fff
}
.pktipo-16 {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    color: #fff
}
.pktipo-13 {
    background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
    color: #212121
}
.pktipo-18 {
    background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    color: #212121
}
.pktipo-2 {
    background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
    color: #fff
}
.pktipo-10 {
    background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    color: #fff
}
.pktipo-3 {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    color: #212121
}
.pktipo-8 {
    background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    color: #fff
}
.pktipo-12 {
    background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    color: #212121
}
.pktipo-5 {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    color: #212121
}
.pktipo-15 {
    background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    color: #212121
}
.pktipo-1 {
    background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    color: #212121
}
.pktipo-4 {
    background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    color: #fff
}
.pktipo-14 {
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    color: #fff
}
.pktipo-6 {
    background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    color: #fff
}
.pktipo-9 {
    background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    color: #212121
}
.pktipo-11 {
    background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    color: #fff
}

.dmTipo {
    background-image: url(../img/icons-damage-class.png);
    background-position: left top;
    background-repeat: none;
    display: inline-block;
    height: 18px;
    width: 41px;
}
.dmTipo-1 {
    background-position: 0 -36px;
}
.dmTipo-3 {
    background-position: 0 -18px;
}