.pktipo {
    border: 1px solid #aaa;
    border-radius: 2px;
    color: #FFF;
    font-family: Lato, Ubuntu, 'Trebuchet MS', Helvetica, Arial, FreeSans, sans-serif;
    font-size: 1rem;
    display: inline-block;
    line-height: 1;
    padding: 3px 5px;
    text-align: center;
    text-shadow: 1px 1px 1px #333333;
    width: 100%;
}

.pktipo-7 {
    background: #a8b820;
    /*background-image: -webkit-linear-gradient(#a8b820, #8d9a1b);
    background-image: linear-gradient(#a8b820, #8d9a1b);*/
    border-color: #616b13;
}
.pktipo-17 {
    background: #705848;
    /*background-image: -webkit-linear-gradient(#705848, #513f34);
    background-image: linear-gradient(#705848, #513f34);*/
    border-color: #362a23;
}
.pktipo-16 {
    background: #7038f8;
    /*background-image: -webkit-linear-gradient(#7038f8, #4c08ef);
    background-image: linear-gradient(#7038f8, #4c08ef);*/
    border-color: #3d07c0;
}
.pktipo-13 {
    background: #f8d030;
    /*background-image: -webkit-linear-gradient(#f8d030, #f0c108);
    background-image: linear-gradient(#f8d030, #f0c108);*/
    border-color: #c19b07
}
.pktipo-18 {
    background: #e898e8;
    /*background-image: -webkit-linear-gradient(#e898e8, #de6ede);
    background-image: linear-gradient(#e898e8, #de6ede);*/
    border-color: #d547d5;
}
.pktipo-2 {
    background: #c03028;
    /*background-image: -webkit-linear-gradient(#c03028, #9d2721);
    background-image: linear-gradient(#c03028, #9d2721);*/
    border-color: #82211b;
}
.pktipo-10 {
    background: #f08030;
    /*background-image: -webkit-linear-gradient(#f08030, #dd6610);
    background-image: linear-gradient(#f08030, #dd6610);*/
    border-color: #b4530d;
}
.pktipo-3 {
    background: #a890f0;
    /*background-image: -webkit-linear-gradient(#a890f0, #9180c4);
    background-image: linear-gradient(#a890f0, #9180c4);*/
    border-color: #7762b6;
}
.pktipo-8 {
    background: #705898;
    /*background-image: -webkit-linear-gradient(#705898, #554374);
    background-image: linear-gradient(#705898, #554374);*/
    border-color: #413359;
}
.pktipo-12 {
    background: #78c850;
    /*background-image: -webkit-linear-gradient(#78c850, #5ca935);
    background-image: linear-gradient(#78c850, #5ca935);*/
    border-color: #4a892b;
}
.pktipo-5 {
    background: #e0c068;
    /*background-image: -webkit-linear-gradient(#e0c068, #d4a82f);
    background-image: linear-gradient(#e0c068, #d4a82f);*/
    border-color: #aa8623;
}
.pktipo-15 {
    background: #98d8d8;
    /*background-image: -webkit-linear-gradient(#98d8d8, #69c6c6);
    background-image: linear-gradient(#98d8d8, #69c6c6);*/
    border-color: #45b6b6;
}
.pktipo-1 {
    background: #8a8a59;
    /*background-image: -webkit-linear-gradient(#a8a878, #8a8a59);
    background-image: linear-gradient(#a8a878, #8a8a59);*/
    border-color: #79794e;
}
.pktipo-4 {
    background: #a040a0;
    /*background-image: -webkit-linear-gradient(#a040a0, #803380);
    background-image: linear-gradient(#a040a0, #803380);*/
    border-color: #662966;
}
.pktipo-14 {
    background: #f85888;
    /*background-image: -webkit-linear-gradient(#f85888, #f61c5d);
    background-image: linear-gradient(#f85888, #f61c5d);*/
    border-color: #d60945;
}
.pktipo-6 {
    background: #b8a038;
    /*background-image: -webkit-linear-gradient(#b8a038, #93802d);
    background-image: linear-gradient(#b8a038, #93802d);*/
    border-color: #746523;
}
.pktipo-9 {
    background: #b8b8d0;
    /*background-image: -webkit-linear-gradient(#b8b8d0, #9797ba);
    background-image: linear-gradient(#b8b8d0, #9797ba);*/
    border-color: #7a7aa7;
}
.pktipo-11 {
    background: #6890f0;
    /*background-image: -webkit-linear-gradient(#6890f0, #386ceb);
    background-image: linear-gradient(#6890f0, #386ceb);*/
    border-color: #1753e3;
}
.pktipo-19 {
    background: #68a090;
    /*background-image: -webkit-linear-gradient(#68a090, #4e7c6f);
    background-image: linear-gradient(#68a090, #4e7c6f);*/
    border-color: #41685d
}

.dmTipo {
    background-image: url(../img/icons-damage-class.png);
    background-position: left top;
    background-repeat: none;
    display: inline-block;
    height: 18px;
    width: 41px;
}
.dmTipo-1 {
    background-position: 0 -36px;
}
.dmTipo-3 {
    background-position: 0 -18px;
}